body {
background: rgb(255,194,228);
background: linear-gradient(90deg, rgba(255,194,228,1) 0%, rgba(216,216,255,1) 35%, rgba(255,225,235,1) 100%);}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h1, .media {
    margin: auto;
    width: 50%;
    padding: 10px;
  
}

img {
    border: 2px solid black;
  outline: paleturquoise 10px;
  margin: auto;  
  padding: 20px;
}